html {   /* apply a natural box layout model to all elements, but allowing components to change BOX-SIZING de PAUL IRISH*/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
background: #f6e6b4; /* Old browsers */
background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed; /* esto deja el fondo fijo */
}

header {
     text-align: center;
     padding-top: 40px;
     padding-right: 0;
     padding-bottom: 40px;
     padding-left: 0;
}

img {
    max-width: 100%; /* hace todas las imagenes, de la pagina, responsivas */
}

.contenedor {
    max-width: 1200px;
    margin: 0  auto;
}

.hero {
    margin-bottom: 40px;
} 

h2 {
     text-align: center;
     text-transform: uppercase;
}

.lista-productos {
    padding: 0;
    list-style: none;  /*borra los puntos de las listas, las viñetas */
}

.lista-productos li {  /* muestra dos productos cuando es menor a 768px */
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.lista-productos li:nth-child(2n+1) {  /* 2n + 1  significa  2(0)+1 = 1  o  2(1)+1 = 3 */
    clear: both;    /* no permite que ningun elemento se coloque al lado  mio, lo envia debajo */
}

@media (min-width:768px){  /* muestra 3 productos cuando es mayor a 768px */
    .lista-productos li {
        width: 33.3%;
    }
    .lista-productos li:nth-child(2n+1) {  /* 2n + 1  significa  2(0)+1 = 1  o  2(1)+1 = 3 */
        clear: unset;    /* este unset borra el both de arriba, el que hereda */
    }
    .lista-productos li:nth-child(3n+1) {  /* 3n + 1  significa  3(0)+1 = 1  o  3(1)+1 = 4 */
        clear: both;    /* no permite que ningun elemento se coloque al lado  mio, lo envia debajo */
    }
}

.lista-productos li img {
    border: 10px solid rgba(255, 87, 51, .45);
    transition: border-color .3s ease-in-out;
}

.lista-productos li img:hover {
    border: 10px solid rgba(255, 87, 51, 1);
}

.lista-productos li p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

span.precio {
    color: chocolate;
    font-size: 40px;
}

.boton {
    background-color: darkorange;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    transition: background-color .3s  ease-in-out;
}

.boton:hover {
    background-color: chocolate;
}